{% extends 'MeuSite/base.html' %}
{% load static %}

{% block title %}Preferências - Perfil{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock header %}

{% block content %}
<main class="profile-container">
    <aside class="profile-nav">
        <div class="nav-links">
           <a href="{% url 'editar_dados' %}" class="nav-link">Editar Dados</a>
            <a href="{% url 'preferencias' %}" class="nav-link active">Preferências</a>
            <a href="{% url 'favoritos' %}" class="nav-link">Favoritos</a>
        </div>
        <a href="{% url 'logout' %}" class="nav-link logout-button">Log-out</a>
    </aside>

    <section class="profile-content">
        <h2>Preferências</h2>
        <p>Nesta seção, você pode configurar suas preferências de notificação, temas do site e outras configurações personalizadas.</p>
        <p>Por exemplo, você pode escolher receber e-mails sobre:</p>
        <ul>
            <li>Eventos de Música</li>
            <li>Eventos de Tecnologia</li>
            <li>Eventos de Esportes</li>
        </ul>
    </section>
</main>
{% endblock content %}