{% extends 'base.html' %}
{% load static %}
{% block title %}Meu Perfil{% endblock %}

{% block content %}
<main class="profile-container">
    <aside class="profile-nav">
        <div class="nav-links">
            <a href="{% url 'editar_dados' %}" class="nav-link">Editar Dados</a>
            <a href="{% url 'preferencias' %}" class="nav-link">Preferências</a>
            <a href="{% url 'favoritos' %}" class="nav-link">Favoritos</a>
        </div>
        <a href="{% url 'logout' %}" class="nav-link logout-button">Log-out</a>
    </aside>
    <section class="profile-content">
        <h2>Bem-vindo ao seu Perfil</h2>
        <p>Selecione uma opção no menu ao lado para visualizar ou editar suas informações.</p>
        <br>
        <p>Nome: <strong>{{ user.first_name|default:"Não informado" }}</strong></p>
        <p>Email: <strong>{{ user.email }}</strong></p>
    </section>
</main>
{% endblock content %}